body {
    font-family: Helvetica;
}

.white{
    color: #fff;
}

.black{
    color:black;
}

.nav {
   background-color: #fff;
}

.blue{
    color: #03a3ff;
}

input[type=text] {
    width: 15%;
    padding: 8px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

.menu {
   color:#fff;
   padding-top: 40px;
}
.menu > li{
    color:black;
   font-size: 20px;
   padding:0 10px 0 0;
   transition: 0.3s all ease-in-out 0s;
   -webkit-transition: 0.3s all ease-in-out 0s;
}

.menu li:hover{
    color:#2b8bd2;
    transition: 0.3s all ease-in-out 0s;
    -webkit-transition: 0.3s all ease-in-out 0s;
}
header {
    background-image: url("../images/header.jpg");
    height: 586px;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.header-title {
    color: #fff;
    cursor: pointer;
    font-size: 50px;
    text-transform: uppercase;
    background-color: #2362ff;
    width: 450px;
    margin: auto;
    font-weight: 200;
}

.header-subtitle{
    background-color: #2362ff;
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    margin: 50px auto 0 auto;
    width:450px;
    cursor: pointer;
}

.call-to-action{
    background-color: #e25b40;
    height: 213px;
    width: 100%;
}

.section-title{
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.intro>p{
    color:#fff;
}
.call-button{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    border: 5px solid #fff;
    padding: 10px 30px 10px 30px;
}

.right{
    text-align: center;
    padding-top: 60px;
}

.intro p{
    color: #fff;
    line-height: 40px;
    margin-top: 10px;
    font-size: 25px;
}

.column{
    float: left;
    width: 50%;
}

.column img{
    margin:auto;
    max-width: 80%;
    opacity: 0.5;
    padding-bottom: 80px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    transition: 0.3s all ease-in-out 0s;
    -webkit-transition: 0.3s all ease-in-out 0s;
}

.column img:hover{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transition: 0.3s all ease-in-out 0s;
    -webkit-transition: 0.3s all ease-in-out 0s;
}

.column img.bigger{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transition: 0.3s all ease-in-out 0s;
    -webkit-transition: 0.3s all ease-in-out 0s;
}
.testimonials{
    background-color: #ebebeb;
}

.testimonials p{
    color: #515f67;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.map{
    background-color: #293137;
    background-image: url("../images/map.png");
    background-size: cover;
    height:586px;
}

footer{
    background-color: #191e22;
    height:100px;
}

.footer-menu{
    padding-top:30px;
}
.footer-menu li{
    color:#fff;
    font-size:13px;
    font-weight: 100;
    display: inline-block;
    padding-right:10px;
}

